<div class="col-lg-3 visible-lg">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" [ngClass]="{'active': type == 'numeric'}"><a (click)="type = 'numeric';">Numeric</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'quantitative-comparison'}"><a (click)="type = 'quantitative-comparison';">Quantitative Comparison</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'quantitative-multiple-answer'}"><a (click)="type = 'quantitative-multiple-answer';">Quantitative Multiple Answer</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'quantitative-single-answer'}"><a (click)="type = 'quantitative-single-answer';">Quantitative Single Answer</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'reading-comprehension'}"><a (click)="type = 'reading-comprehension';">Reading Comprehension</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'sentence-equivalence'}"><a (click)="type = 'sentence-equivalence';">Sentence Equivalence</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'text-completion'}"><a (click)="type = 'text-completion';">Text Completion</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'writing'}"><a (click)="type = 'writing';">Writing</a></li>
    <li role="presentation" [ngClass]="{'active': type == 'data-interpretation-set'}"><a (click)="type = 'data-interpretation-set';">Data Interpretation Set</a></li>
  </ul>
</div>
<div [ngSwitch]="type" class="col-lg-9">
  <div class="text-right hidden-lg">
    <div class="btn-group" dropdown>
      <button id="split-button" type="button" class="btn btn-default">Questions Type</button>
      <button type="button" class="btn btn-default dropdown-toggle-split" dropdownToggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu-right" dropdownMenu role="menu" aria-labelledby="split-button">
        <li role="menuitem" ><a (click)="type = 'numeric';">Numeric</a></li>
        <li role="menuitem" ><a (click)="type = 'quantitative-comparison';">Quantitative Comparison</a></li>
        <li role="menuitem" ><a (click)="type = 'quantitative-multiple-answer';">Quantitative Multiple Answer</a></li>
        <li role="menuitem" ><a (click)="type = 'quantitative-single-answer';">Quantitative Single Answer</a></li>
        <li role="menuitem" ><a (click)="type = 'reading-comprehension';">Reading Comprehension</a></li>
        <li role="menuitem" ><a (click)="type = 'sentence-equivalence';">Sentence Equivalence</a></li>
        <li role="menuitem" ><a (click)="type = 'text-completion';">Text Completion</a></li>
        <li role="menuitem" ><a (click)="type = 'writing';">Writing</a></li>
        <li role="menuitem" ><a (click)="type = 'data-interpretation-set';">Data Interpretation Set</a></li>
      </ul>
    </div>
  </div>
  <div *ngSwitchCase="'numeric'"><numeric-questions></numeric-questions></div>
  <div *ngSwitchCase="'quantitative-comparison'"><quantitative-comparison-questions></quantitative-comparison-questions></div>
  <div *ngSwitchCase="'quantitative-multiple-answer'"><quantitative-multiple-answer-questions></quantitative-multiple-answer-questions></div>
  <div *ngSwitchCase="'quantitative-single-answer'"><quantitative-single-answer-questions></quantitative-single-answer-questions></div>
  <div *ngSwitchCase="'reading-comprehension'"><reading-comprehension-questions></reading-comprehension-questions></div>
  <div *ngSwitchCase="'sentence-equivalence'"><sentence-equivalence-questions></sentence-equivalence-questions></div>
  <div *ngSwitchCase="'text-completion'"><text-completion-questions></text-completion-questions></div>
  <div *ngSwitchCase="'writing'"><writing-questions></writing-questions></div>
  <div *ngSwitchCase="'data-interpretation-set'"><data-interpretation-set-questions></data-interpretation-set-questions></div>
</div>
