<div class="form-horizontal well well-sm">
  <div class="text-right">
    <a class="btn no-padding" *ngIf="mode == 'VIEW'" (click)="remove()"><span class="glyphicon glyphicon-trash"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'VIEW'" (click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="save()"><span class="glyphicon glyphicon-ok"></span></a>
  </div>
  <div class="form-group">
    <label for="questionText" class="control-label" [ngClass]="{'col-sm-3': mode == 'EDIT' || mode == 'VIEW', 'col-xs-1': mode == 'ANSWER' || mode == 'ANSWERED'}">{{mode == 'EDIT' || mode == 'VIEW' ? 'Question :' : number + '-'}}</label>
    <div [ngClass]="{'col-sm-9': mode == 'EDIT' || mode == 'VIEW', 'col-xs-11': mode == 'ANSWER' || mode == 'ANSWERED'}" [class.control-text]="mode != 'EDIT'">
      <textarea name="questionText" [(ngModel)]="question.text" class="form-control" *ngIf="mode == 'EDIT'"></textarea>
      <span [mathJax]="question.text" *ngIf="mode != 'EDIT'"></span>
    </div>
  </div>

  <div *ngIf="mode == 'ANSWER' || mode == 'ANSWERED'" class="form-group">
    <label for="answer" class="col-xs-12">Answer: </label>
    <div class="col-xs-offset-1 col-xs-11">
      <textarea name="answer" [(ngModel)]="question.answer" class="form-control" *ngIf="mode == 'ANSWER'"></textarea>
      <span [mathJax]="question.text" *ngIf="mode == 'ANSWERED'"></span>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="image" class="control-label col-sm-3">Image: </label>
    <div class="col-sm-9">
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="image" (change)="uploadFile($event)" style="display: none;">
      </label>
      <button class="btn btn-danger" *ngIf="question.image" (click)="question.image = 0">Remove</button>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'col-sm-offset-3': mode == 'EDIT' || mode == 'VIEW', 'col-sm-offset-1': mode == 'ANSWER' || mode == 'ANSWERED', 'col-sm-9': mode == 'EDIT' || mode == 'VIEW', 'col-sm-11': mode == 'ANSWER' || mode == 'ANSWERED'}" class="col-sm-offset-3 col-sm-9">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="fraction" class="control-label col-sm-3">Difficulty: </label>
    <div class="col-sm-9">
      <div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="EASY">Easy</label>
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="MEDIUM">Medium</label>
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="HARD">Hard</label>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="mode != 'EDIT'"></div>
</div>
