<div class="form-horizontal well well-sm">
  <div class="text-right">
    <a class="btn no-padding" *ngIf="!nested && mode == 'VIEW'" (click)="remove()"><span class="glyphicon glyphicon-trash"></span></a>
    <a class="btn no-padding" *ngIf="!nested && mode == 'VIEW'" (click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="btn no-padding" *ngIf="!nested && mode == 'EDIT'" (click)="save()"><span class="glyphicon glyphicon-ok"></span></a>
  </div>
  <div class="form-group">
    <label for="questionText" class="control-label col-sm-3">Question :</label>
    <div class="col-sm-9" [class.control-text]="mode != 'EDIT'">
      <!--<textarea name="questionText" [(ngModel)]="question.text" class="form-control" *ngIf="mode == 'EDIT'"></textarea>-->
      <p-editor name="questionText" [(ngModel)]="question.text" *ngIf="mode == 'EDIT'">
        <header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
        </span>
        </header>
      </p-editor>
      <span [mathJax]="question.text" *ngIf="mode != 'EDIT'"></span>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="image" class="control-label col-sm-3">Image: </label>
    <div class="col-sm-9">
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="image" (change)="uploadFile($event)" style="display: none;">
      </label>
      <button class="btn btn-danger" *ngIf="question.image" (click)="question.image = 0">Remove</button>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-9">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Choices :</label>
    <div class="col-sm-9" *ngIf="mode == 'EDIT' && dynamicChoices">
      <button type="button" class="btn btn-default" (click)="question.pushChoice()"><span class="glyphicon glyphicon-plus"></span></button>
      <button type="button" class="btn btn-default" (click)="question.popChoice()" style="float: right;" [disabled]="question.choices.length < 3"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
  <div class="form-group" *ngFor="let choice of question.choices; let i = index;">
    <div class="text-right col-sm-3">
      <p-checkbox *ngIf="multipleChoice" [(ngModel)]="choice.answer" [binary]="true" [disabled]="mode == 'VIEW' || (question.maxAnswerCount && question.maxAnswerCount == question.answers.length && !choice.answer)"></p-checkbox>
      <p-radioButton *ngIf="!multipleChoice" value="{{i}}" [(ngModel)]="question.answer" [disabled]="mode == 'VIEW'"></p-radioButton>
    </div>
    <div class="col-sm-9">
      <input *ngIf="mode == 'EDIT'" type="text" class="form-control" [(ngModel)]="question.choices[i].text">
      <span *ngIf="mode == 'VIEW'" [mathJax]="question.choices[i].text"></span>
    </div>
  </div>
  <div class="form-group" *ngIf="dynamicMaxAnswerCount && (mode == 'EDIT' || (mode == 'VIEW' && question.maxAnswerCount))">
    <label for="maxAnswerCount" class="control-label" [ngClass]="{'col-sm-3': mode == 'EDIT' || mode == 'VIEW', 'col-sm-1': mode == 'ANSWER' || mode == 'ANSWERED'}">Max Answer: </label>
    <div class="col-sm-9" [class.control-text]="mode != 'EDIT'">
      <select name="maxAnswerCount" [(ngModel)]="question.maxAnswerCount" class="form-control" *ngIf="mode == 'EDIT'">
        <option value=""></option>
        <option *ngFor="let choice of question.choices.slice(0, question.choices.length - 1); let i = index" value="{{i + 1}}">{{i + 1}}</option>
      </select>
      <span *ngIf="mode != 'EDIT'">{{question.maxAnswerCount}}</span>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="fraction" class="control-label col-sm-3">Difficulty: </label>
    <div class="col-sm-9">
      <div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="EASY">Easy</label>
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="MEDIUM">Medium</label>
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="HARD">Hard</label>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="fraction" class="control-label col-sm-3">Level: </label>
    <div class="col-sm-9">
      <div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL1">L1</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL2">L2</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL3">L3</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL4">L4</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL5">L5</label>
      </div>
    </div>
  </div>
</div>


