<div [ngSwitch]="type">
  <div *ngSwitchCase="'numeric'"><numeric-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></numeric-question></div>
  <div *ngSwitchCase="'quantitative-comparison'"><quantitative-comparison-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></quantitative-comparison-question></div>
  <div *ngSwitchCase="'quantitative-multiple-answer'"><quantitative-multiple-answer-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></quantitative-multiple-answer-question></div>
  <div *ngSwitchCase="'quantitative-single-answer'"><quantitative-single-answer-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></quantitative-single-answer-question></div>
  <div *ngSwitchCase="'reading-comprehension'"><reading-comprehension-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></reading-comprehension-question></div>
  <div *ngSwitchCase="'sentence-equivalence'"><sentence-equivalence-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></sentence-equivalence-question></div>
  <div *ngSwitchCase="'text-completion'"><text-completion-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></text-completion-question></div>
  <div *ngSwitchCase="'writing'"><writing-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></writing-question></div>
  <div *ngSwitchCase="'data-interpretation-set'"><data-interpretation-set-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></data-interpretation-set-question></div>
</div>
<div>
  <button *ngIf="!question" style="margin: 10px 0;" class="btn btn-primary" (click)="create()">New</button>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'numeric'"><numeric-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></numeric-question></div>
    <div *ngSwitchCase="'quantitative-comparison'"><quantitative-comparison-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></quantitative-comparison-question></div>
    <div *ngSwitchCase="'quantitative-multiple-answer'"><quantitative-multiple-answer-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></quantitative-multiple-answer-question></div>
    <div *ngSwitchCase="'quantitative-single-answer'"><quantitative-single-answer-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></quantitative-single-answer-question></div>
    <div *ngSwitchCase="'reading-comprehension'"><reading-comprehension-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></reading-comprehension-question></div>
    <div *ngSwitchCase="'sentence-equivalence'"><sentence-equivalence-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></sentence-equivalence-question></div>
    <div *ngSwitchCase="'text-completion'"><text-completion-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></text-completion-question></div>
    <div *ngSwitchCase="'writing'"><writing-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></writing-question></div>
    <div *ngSwitchCase="'data-interpretation-set'"><data-interpretation-set-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></data-interpretation-set-question></div>
  </div>
  <div class="col-xs-12 text-center">
    <pagination [totalItems]="page.totalElements" [(ngModel)]="currentPage" [itemsPerPage]="page.size" [maxSize]="paginationLinksCount" (pageChanged)="loadQuestions($event.page - 1)"></pagination>
  </div>
</div>

