<div class="row test-border" [ngClass]="{'hidden-tabs': mode == 'ANSWER'}" style="height: 100%;">
  <tabset>
    <tab heading="Question" style="height: 100%;">

      <div class="col-sm-6 test-border" style="padding: 2px; height: 100%; overflow: auto">
        <div *ngIf="question.parent.number != question.parent.lastNumber" style="background-color: blue; color: white; font-weight: bold; padding: 2px">
          Question {{question.parent.number}} to {{question.parent.lastNumber}} are based on this passage.
        </div>
        <div *ngIf="question.parent.number == question.parent.lastNumber" style="background-color: blue; color: white; font-weight: bold; padding: 2px">
          Question {{question.parent.number}} is based on this passage.
        </div>
        <div style="padding: 15px; padding-top: 30px">
          <span [mathJax]="question.parent.text"></span>
        </div>

        <img *ngIf="question.parent.image" [src]="serverUrl + '/file-service/' + question.parent.image" style="margin: 0 auto; display: block">

      </div>
      <div class="col-sm-6 test-border" style="padding: 20px; height: 100%; overflow: auto">
        <div style="margin-bottom: 50px;">
          <span [mathJax]="question.text" class="col-xs-12"></span>
        </div>
        <table style="width: 100%">
          <tr *ngFor="let choice of question.choices; let i = index;">
            <td style="width: 50px; vertical-align: top"><div (click)="answer(choice);" class="test-checkbox" [ngClass]="{'selected': choice.selected, 'disable': mode != 'ANSWER'}"></div></td>
            <td style="padding-bottom: 20px"><span  [ngClass]="{'text-success': mode != 'ANSWER' && choice.answer}">{{choice.text}}</span></td>
          </tr>
        </table>
      </div>
    </tab>

    <tab heading="Document" *ngIf="question.document">
      <object width="100%" height="650" [data]="getDocument()" type='application/pdf'>
        <p>Sorry, the PDF couldn't be displayed :(</p>
        <a [href]="getDocument()" target="_blank">Click Here</a>
      </object>
    </tab>
    <tab heading="Video" *ngIf="question.video"></tab>
  </tabset>
</div>
