<div class="col-sm-12 visible-lg">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/questions']">Back</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['numeric']">Numeric</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['quantitative-comparison']" >Quantitative Comparison</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['quantitative-multiple-answer']" >Quantitative Multiple Answer</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['quantitative-single-answer']" >Quantitative Single Answer</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['reading-comprehension']" >Reading Comprehension</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['sentence-equivalence']" >Sentence Equivalence</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['text-completion']" >Text Completion</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['writing']" >Writing</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['data-interpretation-set']" >Data Interpretation Set</a></li>
  </ul>
</div>
