<numeric-question [question]="question" *ngIf="question" [mode]="'EDIT'" (onCancel)="cancel()" (onSave)="loadQuestions(currentPage - 1)"></numeric-question>
<template [ngIf]="!question">
  <button style="margin: 10px 0;" class="btn btn-primary" (click)="create()">New</button>
  <numeric-question *ngFor="let q of page.content" [question]="q" (onDelete)="loadQuestions(currentPage - 1)"></numeric-question>
  <div class="col-xs-12 text-center">
    <pagination [totalItems]="page.totalElements" [(ngModel)]="currentPage" [itemsPerPage]="page.size" (pageChanged)="loadQuestions($event.page - 1)"></pagination>
  </div>
</template>

