<div class="col-xs-12 text-center" style="margin: 10px 0;">
  <select [(ngModel)]="page">
    <option value=""></option>
    <option value="writing">Writing</option>
    <option value="numeric">Numeric</option>
    <option value="text-completion">Text Completion</option>
    <option value="select-in-passage">Select In Passage</option>
    <option value="sentence-equivalence">Sentence Equivalence</option>
    <option value="quantitative-comparison">Quantitative Comparison</option>
    <option value="quantitative-single-answer">Quantitative Single Answer</option>
    <option value="quantitative-multiple-answer">Quantitative Multiple Answer</option>
    <option value="reading-comprehension-single-answer">Reading Comprehension Single Answer</option>
    <option value="reading-comprehension-multiple-answer">Reading Comprehension Multiple Answer</option>
  </select>
</div>
<div class="container">
  <writing-questions *ngIf="page == 'writing'"></writing-questions>
  <numeric-questions *ngIf="page == 'numeric'"></numeric-questions>
  <text-completion-questions *ngIf="page == 'text-completion'"></text-completion-questions>
  <select-in-passage-questions *ngIf="page == 'select-in-passage'"></select-in-passage-questions>
  <sentence-equivalence-questions *ngIf="page == 'sentence-equivalence'"></sentence-equivalence-questions>
  <quantitative-comparison-questions *ngIf="page == 'quantitative-comparison'"></quantitative-comparison-questions>
  <quantitative-single-answer-questions *ngIf="page == 'quantitative-single-answer'"></quantitative-single-answer-questions>
  <quantitative-multiple-answer-questions *ngIf="page == 'quantitative-multiple-answer'"></quantitative-multiple-answer-questions>
  <reading-comprehension-single-answer-questions *ngIf="page == 'reading-comprehension-single-answer'"></reading-comprehension-single-answer-questions>
  <reading-comprehension-multiple-answer-questions *ngIf="page == 'reading-comprehension-multiple-answer'"></reading-comprehension-multiple-answer-questions>
</div>
