<div class="container">
  <!--<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">-->
  <select-in-passage-question [question]="selectInPassageQuestion"></select-in-passage-question>
    <single-answer-choice-question [question]="singleAnswerChoiceQuestion"></single-answer-choice-question>
    <multiple-answer-choice-question [question]="multipleAnswerChoiceQuestion"></multiple-answer-choice-question>
    <writing-question [question]="writingQuestion"></writing-question>
    <numeric-question [question]="numericQuestion" [mode]="'ANSWER'"></numeric-question>
    <numeric-question [question]="fractionNumericQuestion"></numeric-question>
</div>
