<div class="well well-sm form-horizontal">
  <label *ngIf="question.parent.number != question.parent.lastNumber" class="col-xs-12">
    Directions: Questions {{question.parent.number}} to {{question.parent.lastNumber}} are based on the following data.
  </label>
  <div class="form-group"></div>
</div>
<div class="form-horizontal well well-sm">
  <div class="form-group">
    <span [mathJax]="question.parent.text" class="col-xs-12"></span>
  </div>
  <div class="form-group">
    <img class="img-responsive img-rounded" *ngIf="question.parent.image" [src]="serverUrl + '/files/' + question.parent.image" style="margin: 0 auto;">
  </div>
</div>
<div class="form-horizontal well well-sm">
  <div class="form-group text-center"><label>{{question.number}}</label></div>
  <div class="col-sm-offset-1 col-sm-11">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <p *ngFor="let paragraph of paragraphs; let i = index;">
        <span *ngFor="let textFraction of paragraph.textFractions; let j = index;">
          <a class="choice-text" [ngClass]="{'choice-text-selected': question.selected == textFraction.number}" (click)="question.selected = textFraction.number; onAnswerChanged()" *ngIf="mode == 'ANSWER' && textFraction.number != -1" style="cursor: hand">{{textFraction.text}}</a>
          <span [ngClass]="{'text-primary': question.answer != textFraction.number, 'text-success': question.answer == textFraction.number, 'text-danger': mode == 'ANSWERED' && question.selected == textFraction.number && question.selected != question.answer}" *ngIf="mode == 'ANSWERED' && textFraction.number != -1">{{textFraction.text}}</span>
          <template [ngIf]="textFraction.text != '<br>' && textFraction.number == -1">
            <span [mathJax]="textFraction.text"></span>
          </template>
          <br *ngIf="textFraction.text == '<br>'">
        </span>
      </p>
    </div>
  </div>
  <div class="form-group"></div>
</div>


