.test-border {
  border: solid 1px black;
}

.bold {
  font-weight: bold;
}

.passage-text a.choice-text {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.passage-text a.choice-text:not(.disable):hover, .passage-text a.choice-text-selected:not(.text-success) {
  background-color: black;
  color: white;
}

.passage-text a.choice-text-selected.text-success {
  background-color: black;
  color: lawngreen;
}
