<div class="form-horizontal well well-sm">
  <div class="form-group">
    <label for="questionText" class="control-label" [ngClass]="{'col-sm-3': mode == 'EDIT' || mode == 'VIEW', 'col-xs-1': mode == 'ANSWER' || mode == 'ANSWERED'}">{{mode == 'EDIT' || mode == 'VIEW' ? 'Question :' : number + '-'}}</label>
    <div [ngClass]="{'col-sm-9': mode == 'EDIT' || mode == 'VIEW', 'col-xs-11': mode == 'ANSWER' || mode == 'ANSWERED'}" [class.control-text]="mode != 'EDIT'">
      <textarea name="questionText" [(ngModel)]="question.text" class="form-control" *ngIf="mode == 'EDIT'"></textarea>
      <span *ngIf="mode != 'EDIT'">{{question.text}}</span>
    </div>
  </div>
  <div class="form-group">
    <label *ngIf="mode == 'EDIT' || mode == 'VIEW'" class="control-label col-xs-3">Choices :</label>
    <div class="col-xs-9" *ngIf="mode == 'EDIT' && dynamicChoices">
      <button type="button" class="btn btn-default" (click)="question.pushChoice()"><span class="glyphicon glyphicon-plus"></span></button>
      <button type="button" class="btn btn-default" (click)="question.popChoice()" style="float: right;" [disabled]="question.choices.length < 3"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
  <div class="form-group" *ngFor="let choice of question.choices; let i = index;">
    <div class="text-right" [ngClass]="{'col-sm-3': mode == 'EDIT' || mode == 'VIEW', 'col-sm-1': mode == 'ANSWER' || mode == 'ANSWERED'}">
      <p-checkbox *ngIf="mode == 'EDIT' || mode == 'VIEW'" name="answers" value="{{i}}" [(ngModel)]="question.answers" [disabled]="mode == 'VIEW'"></p-checkbox>
      <p-checkbox *ngIf="mode == 'ANSWER' || mode == 'ANSWERED'" name="selects" value="{{i}}" [(ngModel)]="question.selects" [disabled]="mode == 'ANSWERED'"></p-checkbox>
    </div>
    <div [ngClass]="{'col-sm-9': mode == 'EDIT' || mode == 'VIEW', 'col-sm-11': mode == 'ANSWER' || mode == 'ANSWERED'}">
      <input *ngIf="mode == 'EDIT'" type="text" class="form-control" [(ngModel)]="question.choices[i].text">
      <span [ngClass]="{'text-success': mode == 'ANSWERED' && question.isAnswer(i), 'text-danger': mode == 'ANSWERED' && question.isSelected(i) && !question.isAnswer(i)}" *ngIf="mode != 'EDIT'">{{question.choices[i].text}}</span>
    </div>
  </div>
</div>

<span style="display: block;">{{question.text}}</span>
<span *ngFor="let choice of question.choices; let i = index" style="display: block;">{{question.choices[i].text}}</span>
<div>
  <span style="display: block;" *ngFor="let answer of question.answers;">{{answer}}</span>
</div>
<div>
  <span style="display: block;" *ngFor="let select of question.selects;">{{select}}</span>
</div>

