<div class="form-horizontal well well-sm">
  <div class="text-right">
    <a class="btn no-padding" *ngIf="mode == 'VIEW'"><span class="glyphicon glyphicon-trash"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'VIEW'" (click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'"><span class="glyphicon glyphicon-ok"></span></a>
  </div>
  <div class="form-group">
    <label for="questionText" class="control-label" [ngClass]="{'col-sm-3': mode == 'EDIT' || mode == 'VIEW', 'col-sm-1': mode == 'ANSWER' || mode == 'ANSWERED'}">{{mode == 'EDIT' || mode == 'VIEW' ? 'Question :' : number + '-'}}</label>
    <div [ngClass]="{'col-sm-9': mode == 'EDIT' || mode == 'VIEW', 'col-sm-11': mode == 'ANSWER' || mode == 'ANSWERED'}" [class.control-text]="mode != 'EDIT'">
      <!--<textarea name="questionText" [(ngModel)]="question.text" class="form-control" *ngIf="mode == 'EDIT'"></textarea>-->

      <!--<p-editor [(ngModel)]="question.text" [style]="{'height':'320px'}" *ngIf="mode == 'EDIT'"></p-editor>-->
      <p-editor name="questionText" [(ngModel)]="question.text" *ngIf="mode == 'EDIT'">
        <header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-underline"></button>
        </span>
        </header>
      </p-editor>
      <span>{{question.shapedText}}</span>
    </div>
  </div>

</div>


