<div class="form-horizontal well well-sm">
  <div class="text-right">
    <a class="btn no-padding" *ngIf="mode == 'VIEW'"><span class="glyphicon glyphicon-trash"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'VIEW'" (click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'"><span class="glyphicon glyphicon-ok"></span></a>
  </div>
  <div class="form-group">
    <label for="questionText" class="control-label" [ngClass]="{'col-sm-3': mode == 'EDIT' || mode == 'VIEW', 'col-sm-1': mode == 'ANSWER' || mode == 'ANSWERED'}">{{mode == 'EDIT' || mode == 'VIEW' ? 'Question :' : number + '-'}}</label>
    <div [ngClass]="{'col-sm-9': mode == 'EDIT' || mode == 'VIEW', 'col-sm-11': mode == 'ANSWER' || mode == 'ANSWERED'}" [class.control-text]="mode != 'EDIT'">
      <p-editor name="questionText" [(ngModel)]="question.text" (onTextChange)="questionTextChangedListener($event.htmlValue)" *ngIf="mode == 'EDIT'">
        <header>
        <span class="ql-formats">
            <button class="ql-underline"></button>
        </span>
        </header>
      </p-editor>
      <p *ngFor="let paragraph of paragraphs; let i = index;">
        <span *ngFor="let textFraction of paragraph.textFractions; let j = index;">
          <a class="choice-text" [ngClass]="{'text-success': mode == 'EDIT' && question.answer == textFraction.number, 'choice-text-selected': mode == 'ANSWERED' && question.selected == textFraction.number}" (click)="mode == 'EDIT' ? question.answer = textFraction.number : question.selected = textFraction.number" *ngIf="(mode == 'EDIT' || mode == 'ANSWER') && textFraction.number != -1">{{textFraction.text}}</a>
          <span [ngClass]="{'text-primary': question.answer != textFraction.number, 'text-success': question.answer == textFraction.number, 'text-danger': mode == 'ANSWERED' && question.selected == textFraction.number && question.selected != question.answer}" *ngIf="(mode == 'VIEW' || mode == 'ANSWERED') && textFraction.number != -1">{{textFraction.text}}</span>
          <template [ngIf]="textFraction.text != '<br>' && textFraction.number == -1">
            {{textFraction.text}}
          </template>
          <br *ngIf="textFraction.text == '<br>'">
        </span>
      </p>
    </div>
  </div>

</div>


