<div class="form-horizontal well well-sm">
  <div class="text-right">
    <a class="btn no-padding" *ngIf="mode == 'VIEW'" (click)="remove()"><span class="glyphicon glyphicon-trash"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'VIEW'" (click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
    <a class="btn no-padding" *ngIf="mode == 'EDIT'" (click)="save()"><span class="glyphicon glyphicon-ok"></span></a>
  </div>
  <div class="form-group">
    <label for="quantityA" class="control-label col-sm-3">Quantity A :</label>
    <div class="col-sm-9" [class.control-text]="mode != 'EDIT'">
      <input name="quantityA" [(ngModel)]="question.text" class="form-control" *ngIf="mode == 'EDIT'">
      <span [mathJax]="question.quantityA" *ngIf="mode != 'EDIT'"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="quantityB" class="control-label col-sm-3">Quantity B :</label>
    <div class="col-sm-9" [class.control-text]="mode != 'EDIT'">
      <input name="quantityB" [(ngModel)]="question.quantityB" class="form-control" *ngIf="mode == 'EDIT'">
      <span [mathJax]="question.quantityB" *ngIf="mode != 'EDIT'"></span>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="image" class="control-label col-sm-3">Image: </label>
    <div class="col-sm-9">
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="image" (change)="uploadImage($event)" style="display: none;">
      </label>
      <button class="btn btn-danger" *ngIf="question.image" (click)="question.image = null">Remove</button>
    </div>
  </div>
  <div class="col-sm-offset-3 col-sm-9">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Choices :</label>
    <div class="col-sm-9" *ngIf="mode == 'EDIT' && dynamicChoices">
      <button type="button" class="btn btn-default" (click)="question.pushChoice()"><span class="glyphicon glyphicon-plus"></span></button>
      <button type="button" class="btn btn-default" (click)="question.popChoice()" style="float: right;" [disabled]="question.choices.length < 3"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-sm-3">
      <p-radioButton value="0" [(ngModel)]="question.answer" [disabled]="mode == 'VIEW'"></p-radioButton>
    </div>
    <div class="col-sm-9">
      <span>Quantity A is greater.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-sm-3">
      <p-radioButton value="1" [(ngModel)]="question.answer" [disabled]="mode == 'VIEW'"></p-radioButton>
    </div>
    <div class="col-sm-9">
      <span>Quantity B is greater.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-sm-3">
      <p-radioButton value="2" [(ngModel)]="question.answer" [disabled]="mode == 'VIEW'"></p-radioButton>
    </div>
    <div class="col-sm-9">
      <span>The two quantities are equal.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-sm-3">
      <p-radioButton value="3" [(ngModel)]="question.answer" [disabled]="mode == 'VIEW'"></p-radioButton>
    </div>
    <div class="col-sm-9">
      <span>The relationship cannot be determined from the information given.</span>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="fraction" class="control-label col-sm-3">Difficulty: </label>
    <div class="col-sm-9">
      <div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="EASY">Easy</label>
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="MEDIUM">Medium</label>
        <label class="btn btn-default" [(ngModel)]="question.difficulty" btnRadio="HARD">Hard</label>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="fraction" class="control-label col-sm-3">Level: </label>
    <div class="col-sm-9">
      <div class="btn-group">
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL1">L1</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL2">L2</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL3">L3</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL4">L4</label>
        <label class="btn btn-default" [(ngModel)]="question.difficultyLevel" btnRadio="LEVEL5">L5</label>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="mode == 'EDIT'">
    <label for="document" class="control-label col-sm-3">Document: </label>
    <div class="col-sm-9">
      <label class="btn btn-default btn-file">
        Browse <input type="file" name="document" (change)="uploadDocument($event)" style="display: none;">
      </label>
      <button class="btn btn-danger" *ngIf="question.document" (click)="question.document = null">Remove</button>
    </div>
  </div>
</div>


