<div *ngIf="test.id && currentQuestion && !test.endDate" class="container" style="height: 100vh">
  <div class="row" style="background-color: #D2E4F0; height: 50px">
    <div class="col-sm-6 bold">GRE Practice Test Section {{currentSection.number}} of {{test.sectionTypes.length}}</div>
    <div class="col-sm-6 text-right">
      <button *ngIf="view == 'NO_TIME'" (click)="isLastSection() ? finishTest() : nextSection()" class="test-btn test-btn-square bold">Continue</button>
      <button *ngIf="view == 'MAIN' && ! isLastSection()" (click)="nextSection()" class="test-btn test-btn-square bold">Exit Section</button>
      <button *ngIf="view == 'MAIN'" (click)="finishTest()" class="test-btn test-btn-square bold">Quit w/Save</button>
      <!--<button *ngIf="view == 'MAIN'" class="test-btn test-btn-square bold">Help</button>-->
      <button *ngIf="view == 'MAIN'" (click)="toggleMark()" class="test-btn test-btn-square bold">{{currentQuestion.marked ? 'UnMark': 'Mark'}}</button>
      <button *ngIf="view == 'MAIN' && currentSection.answeredQuestions.length > 1" (click)="view = 'REVIEW'" class="test-btn test-btn-square bold">Review</button>
      <button *ngIf="view == 'REVIEW'" (click)="view = 'MAIN'" class="test-btn test-btn-square bold">Return</button>
      <button *ngIf="view == 'REVIEW'" (click)="goToSelectedQuestion()" class="test-btn test-btn-square bold">Go To Question</button>
      <button *ngIf="view == 'MAIN' && ! isFirstQuestion()" (click)="previousQuestion()" class="test-btn test-btn-square bold">Back</button>
      <button *ngIf="view == 'MAIN' && ! isLastQuestion()" (click)="nextQuestion()" class="test-btn test-btn-square bold">Next</button>
    </div>
  </div>
  <div class="row" style="background-color: #D2E4F0; padding: 5px 0; height: 35px">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center bold">Question {{currentQuestion.number}} of {{currentSection.answeredQuestions.length}}</div>
    <div class="col-sm-4 text-right">
      <button class="test-btn bold" (click)="sectionTimer.hidden = ! sectionTimer.hidden">{{sectionTimer.hidden ? 'Show Time' : 'Hide Time'}}</button>
      <timer-component class="bold" [timer]="sectionTimer" (timeEnded)="sectionTimeEnded()"></timer-component>
    </div>
  </div>

  <div *ngIf="view == 'MAIN'" [ngSwitch]="currentQuestion.questionType">
    <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_SINGLE_ANSWER'"><answer-data-interpretation-set-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-single-answer-question></div>
    <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_MULTIPLE_ANSWER'"><answer-data-interpretation-set-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-multiple-answer-question></div>
    <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_NUMERIC'"><answer-data-interpretation-set-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-numeric-question></div>
    <div *ngSwitchCase="'GRE_NUMERIC'"><answer-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-numeric-question></div>
    <div *ngSwitchCase="'GRE_NUMERIC_FRACTION'"><answer-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-numeric-question></div>
    <div *ngSwitchCase="'GRE_QUANTITATIVE_COMPARISON'"><answer-quantitative-comparison-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-comparison-question></div>
    <div *ngSwitchCase="'GRE_QUANTITATIVE_SINGLE_ANSWER'"><answer-quantitative-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-single-answer-question></div>
    <div *ngSwitchCase="'GRE_QUANTITATIVE_MULTIPLE_ANSWER'"><answer-quantitative-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-multiple-answer-question></div>
    <div *ngSwitchCase="'GRE_READING_COMPREHENSION_SINGLE_ANSWER'"><answer-reading-comprehension-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-reading-comprehension-single-answer-question></div>
    <div *ngSwitchCase="'GRE_READING_COMPREHENSION_MULTIPLE_ANSWER'"><answer-reading-comprehension-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-reading-comprehension-multiple-answer-question></div>
    <div *ngSwitchCase="'GRE_READING_COMPREHENSION_SELECT_IN_PASSAGE'"><answer-select-in-passage-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-select-in-passage-question></div>
    <div *ngSwitchCase="'GRE_SENTENCE_EQUIVALENCE'"><answer-sentence-equivalence-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-sentence-equivalence-question></div>
    <div *ngSwitchCase="'GRE_TEXT_COMPLETION_ONE_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
    <div *ngSwitchCase="'GRE_TEXT_COMPLETION_TWO_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
    <div *ngSwitchCase="'GRE_TEXT_COMPLETION_THREE_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
    <div *ngSwitchCase="'GRE_WRITING_ISSUE'"><answer-writing-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-writing-question></div>
    <div *ngSwitchCase="'GRE_WRITING_ARGUMENT'"><answer-writing-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-writing-question></div>
  </div>

  <div *ngIf="view == 'REVIEW'">
    <p style="padding: 10px 15px">Below is the list of questions in the current section. The question you were on is highlighted. Questions you have seen are labeld <b>Answered</b>, <b>Incomplete</b>, or <b>Not Answered</b>. A question is labeled Incomplete if the question requires to select a certain number of answer choices and you have selected more or fewer than that number. Questions you have marked are indicated with a .</p>
    <p style="padding: 10px 15px">To return to the question you were on, click Return</p>
    <p style="padding: 10px 15px">To go to a different question, click on that question to highlight it, then click <b>Go To Question</b></p>

    <div>
      <div class="col-sm-6">
        <table class="text-center" style="width: 100%">
          <thead>
          <tr>
            <th class="col-xs-4 text-center" style="border: 1px solid lightblue; background-color: lightblue">Question Number</th>
            <th class="col-xs-4 text-center" style="border: 1px solid lightblue; background-color: lightblue">Status</th>
            <th class="col-xs-4 text-center" style="border: 1px solid lightblue; background-color: lightblue">Marked</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of currentSection.answeredQuestions.slice(0, 10)" (click)="selectedQuestion = question">
            <td [ngClass]="{'selected-question': question == selectedQuestion}" style="border: 1px solid lightblue;">{{question.number}}</td>
            <td [ngClass]="{'selected-question': question == selectedQuestion}" style="border: 1px solid lightblue;">{{question.getState()}}</td>
            <td [ngClass]="{'selected-question': question == selectedQuestion}" style="border: 1px solid lightblue;"><img *ngIf="question.marked" src="images/checkmark.png" style="width: 16px; height: 16px"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="margin: 10px">
        <div class="col-sm-6">
          <table class="text-center" style="width: 100%">
            <thead>
            <tr>
              <th class="col-xs-4 text-center" style="background-color: lightblue">Question Number</th>
              <th class="col-xs-4 text-center" style="background-color: lightblue">Status</th>
              <th class="col-xs-4 text-center" style="background-color: lightblue">Marked</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of currentSection.answeredQuestions.slice(10, 20)" (click)="selectedQuestion = question">
              <td [ngClass]="{'selected-question': question == selectedQuestion}" style="border: 1px solid lightblue;">{{question.number}}</td>
              <td [ngClass]="{'selected-question': question == selectedQuestion}" style="border: 1px solid lightblue;">{{question.getState()}}</td>
              <td [ngClass]="{'selected-question': question == selectedQuestion}" style="border: 1px solid lightblue;"><img *ngIf="question.marked" src="images/checkmark.png" style="width: 16px; height: 16px"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="view == 'NO_TIME'" style="height: calc(100vh - 86px)">
    <div style="height: calc(50vh - 43px); text-align: center">
      TIME ENDED
    </div>
  </div>

</div>

<div *ngIf="test.endDate" class="container">
  <div class="well well-sm form-horizontal">
    <div class="form-group">
      <label class="col-sm-12">You finished your test. you can tell us any comments or feedback now.</label>
      <div class="col-sm-12">
        <textarea style="height: 300px" [(ngModel)]="test.comment" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group text-center control-text">
      <button (click)="commentTest()" class="btn btn-primary">Send Feedback</button>
      <button class="btn btn-default" [routerLink]="['/tests/gre']">Return</button>
    </div>
  </div>
</div>







<div class="container" *ngIf="false">

  <div *ngIf="! test.id" class="form-horizontal well well-sm">
    <div class="form-group">
      <label for="questionText" class="control-label col-sm-6">Difficulty</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-default" [(ngModel)]="test.difficulty" btnRadio="EASY">Easy</label>
          <label class="btn btn-default" [(ngModel)]="test.difficulty" btnRadio="MEDIUM">Medium</label>
          <label class="btn btn-default" [(ngModel)]="test.difficulty" btnRadio="HARD">Hard</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="questionText" class="control-label col-sm-6">Intelligent Type</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-default" [(ngModel)]="test.intelligentType" btnRadio="NORMAL">Normal</label>
          <label class="btn btn-default" [(ngModel)]="test.intelligentType" btnRadio="INTELLIGENT">Intelligent</label>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary" (click)="start()">Start</button>
    </div>
  </div>
  <div *ngIf="test.id">
    <div *ngIf="! test.endDate">
      <div *ngIf="! breakTimer">

        <div class="col-xs-12 text-right">
          <button class="btn btn-default">Help</button>
          <button class="btn btn-default">Next</button>
        </div>
        <div class="col-xs-12">
          <div class="col-sm-offset-4 col-sm-4 text-center">
            Question 1 of 2
          </div>
          <div class="col-sm-4 text-right">
            <button class="btn btn-default">Hide Time</button>
            <timer-component [timer]="sectionTimer" (timeEnded)="sectionTimeEnded()"></timer-component>
          </div>
        </div>

        <div [ngSwitch]="currentQuestion.questionType">
          <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_SINGLE_ANSWER'"><answer-data-interpretation-set-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-single-answer-question></div>
          <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_MULTIPLE_ANSWER'"><answer-data-interpretation-set-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-multiple-answer-question></div>
          <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_NUMERIC'"><answer-data-interpretation-set-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-numeric-question></div>
          <div *ngSwitchCase="'GRE_NUMERIC'"><answer-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-numeric-question></div>
          <div *ngSwitchCase="'GRE_NUMERIC_FRACTION'"><answer-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-numeric-question></div>
          <div *ngSwitchCase="'GRE_QUANTITATIVE_COMPARISON'"><answer-quantitative-comparison-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-comparison-question></div>
          <div *ngSwitchCase="'GRE_QUANTITATIVE_SINGLE_ANSWER'"><answer-quantitative-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-single-answer-question></div>
          <div *ngSwitchCase="'GRE_QUANTITATIVE_MULTIPLE_ANSWER'"><answer-quantitative-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-multiple-answer-question></div>
          <div *ngSwitchCase="'GRE_READING_COMPREHENSION_SINGLE_ANSWER'"><answer-reading-comprehension-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-reading-comprehension-single-answer-question></div>
          <div *ngSwitchCase="'GRE_READING_COMPREHENSION_MULTIPLE_ANSWER'"><answer-reading-comprehension-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-reading-comprehension-multiple-answer-question></div>
          <div *ngSwitchCase="'GRE_READING_COMPREHENSION_SELECT_IN_PASSAGE'"><answer-select-in-passage-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-select-in-passage-question></div>
          <div *ngSwitchCase="'GRE_SENTENCE_EQUIVALENCE'"><answer-sentence-equivalence-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-sentence-equivalence-question></div>
          <div *ngSwitchCase="'GRE_TEXT_COMPLETION_ONE_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
          <div *ngSwitchCase="'GRE_TEXT_COMPLETION_TWO_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
          <div *ngSwitchCase="'GRE_TEXT_COMPLETION_THREE_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
          <div *ngSwitchCase="'GRE_WRITING_ISSUE'"><answer-writing-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-writing-question></div>
          <div *ngSwitchCase="'GRE_WRITING_ARGUMENT'"><answer-writing-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-writing-question></div>
        </div>
        <div class="form-group col-xs-4 text-left">
          <button *ngIf="! isFirstQuestion()" class="btn btn-default" (click)="previousQuestion()"><span class="glyphicon glyphicon-chevron-left"></span></button>
        </div>
        <div class="form-group col-xs-4 text-center">
          <button *ngIf="! isLastSection()" class="btn btn-primary" (click)="nextSection()">Next Section</button>
          <button *ngIf="isLastSection()" class="btn btn-primary" (click)="finishTest()">End Test</button>
        </div>
        <div class="form-group col-xs-4 text-right">
          <button *ngIf="! isLastQuestion()" class="btn btn-default" (click)="nextQuestion()"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>




      <div *ngIf="breakTimer">
        <div class="well well-sm form-horizontal">
          <label class="col-xs-6 col-sm-offset-4 col-sm-4 text-center">
            Break Time
          </label>
          <div class="col-xs-6 col-sm-4 text-right">
            <timer-component [timer]="breakTimer" (timeEnded)="endBreak()"></timer-component>
          </div>
          <div class="form-group"></div>
        </div>
        <div class="form-group col-xs-offset-4 col-xs-4 text-center">
          <button class="btn btn-primary" (click)="endBreak()">Next Section</button>
        </div>
      </div>
    </div>
    <div *ngIf="test.endDate">
      <div class="well well-sm form-horizontal">
        <label class="col-xs-12 text-center">
          This has been finished.
        </label>
        <div class="form-group"></div>
      </div>
      <div class="form-group text-center control-text">
        <button class="btn btn-primary" [routerLink]="['/tests/gre']">Back</button>
      </div>
    </div>
  </div>

</div>

<div class="container" *ngIf="false">
  <div *ngIf="! test.id" class="form-horizontal well well-sm">
    <div class="form-group">
      <label for="questionText" class="control-label col-sm-6">Difficulty</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-default" [(ngModel)]="test.difficulty" btnRadio="EASY">Easy</label>
          <label class="btn btn-default" [(ngModel)]="test.difficulty" btnRadio="MEDIUM">Medium</label>
          <label class="btn btn-default" [(ngModel)]="test.difficulty" btnRadio="HARD">Hard</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="questionText" class="control-label col-sm-6">Intelligent Type</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-default" [(ngModel)]="test.intelligentType" btnRadio="NORMAL">Normal</label>
          <label class="btn btn-default" [(ngModel)]="test.intelligentType" btnRadio="INTELLIGENT">Intelligent</label>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary" (click)="start()">Start</button>
    </div>
  </div>
  <div *ngIf="test.id">
    <div *ngIf="! test.endDate">
      <div *ngIf="! breakTimer">

        <div class="well well-sm form-horizontal">
          <label class="col-xs-6 col-sm-offset-4 col-sm-4 text-center">
            {{sectionLabel}}
          </label>
          <div class="col-xs-6 col-sm-4 text-right">
            <timer-component [timer]="sectionTimer" (timeEnded)="sectionTimeEnded()"></timer-component>
          </div>
          <div class="form-group"></div>
        </div>

        <div [ngSwitch]="currentQuestion.questionType">
          <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_SINGLE_ANSWER'"><answer-data-interpretation-set-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-single-answer-question></div>
          <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_MULTIPLE_ANSWER'"><answer-data-interpretation-set-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-multiple-answer-question></div>
          <div *ngSwitchCase="'GRE_DATA_INTERPRETATION_SET_NUMERIC'"><answer-data-interpretation-set-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-data-interpretation-set-numeric-question></div>
          <div *ngSwitchCase="'GRE_NUMERIC'"><answer-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-numeric-question></div>
          <div *ngSwitchCase="'GRE_NUMERIC_FRACTION'"><answer-numeric-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-numeric-question></div>
          <div *ngSwitchCase="'GRE_QUANTITATIVE_COMPARISON'"><answer-quantitative-comparison-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-comparison-question></div>
          <div *ngSwitchCase="'GRE_QUANTITATIVE_SINGLE_ANSWER'"><answer-quantitative-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-single-answer-question></div>
          <div *ngSwitchCase="'GRE_QUANTITATIVE_MULTIPLE_ANSWER'"><answer-quantitative-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-quantitative-multiple-answer-question></div>
          <div *ngSwitchCase="'GRE_READING_COMPREHENSION_SINGLE_ANSWER'"><answer-reading-comprehension-single-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-reading-comprehension-single-answer-question></div>
          <div *ngSwitchCase="'GRE_READING_COMPREHENSION_MULTIPLE_ANSWER'"><answer-reading-comprehension-multiple-answer-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-reading-comprehension-multiple-answer-question></div>
          <div *ngSwitchCase="'GRE_READING_COMPREHENSION_SELECT_IN_PASSAGE'"><answer-select-in-passage-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-select-in-passage-question></div>
          <div *ngSwitchCase="'GRE_SENTENCE_EQUIVALENCE'"><answer-sentence-equivalence-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-sentence-equivalence-question></div>
          <div *ngSwitchCase="'GRE_TEXT_COMPLETION_ONE_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
          <div *ngSwitchCase="'GRE_TEXT_COMPLETION_TWO_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
          <div *ngSwitchCase="'GRE_TEXT_COMPLETION_THREE_BLANK'"><answer-text-completion-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-text-completion-question></div>
          <div *ngSwitchCase="'GRE_WRITING_ISSUE'"><answer-writing-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-writing-question></div>
          <div *ngSwitchCase="'GRE_WRITING_ARGUMENT'"><answer-writing-question [question]="currentQuestion" (answerChanged)="answerChanged($event)"></answer-writing-question></div>
        </div>
        <div class="form-group col-xs-4 text-left">
          <button *ngIf="! isFirstQuestion()" class="btn btn-default" (click)="previousQuestion()"><span class="glyphicon glyphicon-chevron-left"></span></button>
        </div>
        <div class="form-group col-xs-4 text-center">
          <button *ngIf="! isLastSection()" class="btn btn-primary" (click)="nextSection()">Next Section</button>
          <button *ngIf="isLastSection()" class="btn btn-primary" (click)="finishTest()">End Test</button>
        </div>
        <div class="form-group col-xs-4 text-right">
          <button *ngIf="! isLastQuestion()" class="btn btn-default" (click)="nextQuestion()"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
      <div *ngIf="breakTimer">
        <div class="well well-sm form-horizontal">
          <label class="col-xs-6 col-sm-offset-4 col-sm-4 text-center">
            Break Time
          </label>
          <div class="col-xs-6 col-sm-4 text-right">
            <timer-component [timer]="breakTimer" (timeEnded)="endBreak()"></timer-component>
          </div>
          <div class="form-group"></div>
        </div>
        <div class="form-group col-xs-offset-4 col-xs-4 text-center">
          <button class="btn btn-primary" (click)="endBreak()">Next Section</button>
        </div>
      </div>
    </div>
    <div *ngIf="test.endDate">
      <div class="well well-sm form-horizontal">
        <label class="col-xs-12 text-center">
          This has been finished.
        </label>
        <div class="form-group"></div>
      </div>
      <div class="form-group text-center control-text">
        <button class="btn btn-primary" [routerLink]="['/tests/gre']">Back</button>
      </div>
    </div>
  </div>
</div>
