<div class="container">
  <form *ngIf="! user" #loginForm="ngForm" class="form-horizontal col-sm-12 well well-lg" role="form" novalidate>
    <div class="form-group" [ngClass]="{'has-error' : usernameInput.errors && usernameInput.touched, 'has-success' : !usernameInput.errors && usernameInput.touched}">
      <label for="username" class="col-sm-4 control-label">Username: </label>
      <div class="col-sm-8">
        <input #usernameInput="ngModel" name="username" class="form-control" [(ngModel)]="username" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
        <span class="help-block" *ngIf="usernameInput.touched && usernameInput.errors && usernameInput.errors.required">Username can't be empty</span>
        <span class="help-block" *ngIf="usernameInput.touched && usernameInput.errors && usernameInput.errors.pattern">Username is not valid</span>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : passwordInput.errors && passwordInput.touched, 'has-success' : !passwordInput.errors && passwordInput.touched}">
      <label for="password" class="col-sm-4 control-label">Password: </label>
      <div class="col-sm-8">
        <input type="password" #passwordInput="ngModel" name="password" class="form-control" [(ngModel)]="password" required />
        <span class="help-block" *ngIf="passwordInput.touched && passwordInput.errors && passwordInput.errors.required">Password can't be empty</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button (click)="login()" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
  <div *ngIf="user" class="alert alert-info">
    You are already Logged in.
    <div class="form-group text-center">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
