<div *ngIf="direction" class="well well-sm form-horizontal">
  <label class="col-xs-12">
    {{direction}}
  </label>
  <div class="form-group"></div>
</div>

<div class="form-horizontal well well-sm">
  <div class="form-group text-center"><label>{{question.number}}</label></div>
  <div class="form-group">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div class="form-group">
    <div class="col-sm-6 text-center">A : <span [mathJax]="question.text"></span></div>
    <div class="col-sm-6 text-center">B : <span [mathJax]="question.quantityB"></span></div>
  </div>
  <div class="form-group">
    <div class="text-right col-xs-1">
      <p-radioButton value="0" (onClick)="onSelect(0)" [(ngModel)]="question.selected" [disabled]="mode == 'ANSWERED'"></p-radioButton>
    </div>
    <div class="col-xs-11">
      <span [ngClass]="{'text-success': mode == 'ANSWERED' && question.answer == 0, 'text-danger': mode == 'ANSWERED' && question.selected == 0 && question.answer != 0}">Quantity A is greater.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-xs-1">
      <p-radioButton value="1" (onClick)="onSelect(1)" [(ngModel)]="question.selected" [disabled]="mode == 'ANSWERED'"></p-radioButton>
    </div>
    <div class="col-xs-11">
      <span [ngClass]="{'text-success': mode == 'ANSWERED' && question.answer == 1, 'text-danger': mode == 'ANSWERED' && question.selected == 1 && question.answer != 1}">Quantity B is greater.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-xs-1">
      <p-radioButton value="2" (onClick)="onSelect(2)" [(ngModel)]="question.selected" [disabled]="mode == 'ANSWERED'"></p-radioButton>
    </div>
    <div class="col-xs-11">
      <span [ngClass]="{'text-success': mode == 'ANSWERED' && question.answer == 2, 'text-danger': mode == 'ANSWERED' && question.selected == 2 && question.answer != 2}">The two quantities are equal.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="text-right col-xs-1">
      <p-radioButton value="3" (onClick)="onSelect(3)" [(ngModel)]="question.selected" [disabled]="mode == 'ANSWERED'"></p-radioButton>
    </div>
    <div class="col-xs-11">
      <span [ngClass]="{'text-success': mode == 'ANSWERED' && question.answer == 3, 'text-danger': mode == 'ANSWERED' && question.selected == 3 && question.answer != 3}">The relationship cannot be determined from the information given.</span>
    </div>
  </div>
</div>


