.test-border {
  border: solid 1px black;
}

.radio-btn {
  width: 30px;
  height: 20px;
  border: solid black 1px;
  border-radius: 42px;
  margin: 1px 10px;
}

.radio-btn:not(.disable):hover {
  background-color: black;
}

.radio-btn.selected {
  background-color: black;
}
