<div class="row test-border" style="height: calc(100vh - 85px);">

  <div class="test-border" style="margin: 2px; height: calc(100vh - 93px); overflow: auto;" [ngClass]="{'hidden-tabs': mode == 'ANSWER'}">

    <tabset>
      <tab heading="Question" style="padding: 50px 100px 0 100px;">

        <img *ngIf="question.image" [src]="serverUrl + '/file-service/' + question.image" style="margin: 0 auto; display: block">

        <div style="margin: 10px 100px 50px 100px; text-align: center">
          <span [mathJax]="question.text"></span>
        </div>

        <table style="width: 100%; text-align: center">
          <tbody>
          <tr>
            <td style="width: 50%; padding-bottom: 30px"><u>Quantity A</u></td>
            <td style="width: 50%"><u>Quantity B</u></td>
          </tr>
          <tr>
            <td><span [mathJax]="question.quantityA"></span></td>
            <td><span [mathJax]="question.quantityB"></span></td>
          </tr>
          </tbody>
        </table>

        <table style="width: 400px; margin: 30px auto">
          <tr>
            <td style="width: 50px; vertical-align: top"><div class="radio-btn" (click)="onSelect(0);" [ngClass]="{'selected': question.selected == 0, 'disable': mode != 'ANSWER'}"></div></td>
            <td style="padding-bottom: 20px"><span  [ngClass]="{'text-success': mode != 'ANSWER' && question.answer == 0}">Quantity A is greater.</span></td>
          </tr>
          <tr>
            <td style="width: 50px; vertical-align: top"><div class="radio-btn" (click)="onSelect(1);" [ngClass]="{'selected': question.selected == 1, 'disable': mode != 'ANSWER'}"></div></td>
            <td style="padding-bottom: 20px"><span  [ngClass]="{'text-success': mode != 'ANSWER' && question.answer == 1}">Quantity B is greater.</span></td>
          </tr>
          <tr>
            <td style="width: 50px; vertical-align: top"><div class="radio-btn" (click)="onSelect(2);" [ngClass]="{'selected': question.selected == 2, 'disable': mode != 'ANSWER'}"></div></td>
            <td style="padding-bottom: 20px"><span  [ngClass]="{'text-success': mode != 'ANSWER' && question.answer == 2}">The two quantities are equal.</span></td>
          </tr>
          <tr>
            <td style="width: 50px; vertical-align: top"><div class="radio-btn" (click)="onSelect(3);" [ngClass]="{'selected': question.selected == 3, 'disable': mode != 'ANSWER'}"></div></td>
            <td style="padding-bottom: 20px"><span  [ngClass]="{'text-success': mode != 'ANSWER' && question.answer == 3}">The relationship can not be determined from the information given.</span></td>
          </tr>
        </table>
      </tab>

      <tab heading="Document" *ngIf="question.document">
        <object width="100%" height="650" [data]="getDocument()" type='application/pdf'>
          <p>Sorry, the PDF couldn't be displayed :(</p>
          <a [href]="getDocument()" target="_blank">Click Here</a>
        </object>
      </tab>
      <tab heading="Video" *ngIf="question.video"></tab>
    </tabset>

  </div>
</div>
