<div class="col-sm-12 visible-lg">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" *ngIf="loginService.hasAnyRole('ADMIN', 'DATA')" routerLinkActive="active" ><a [routerLink]="['questions']">Questions</a></li>
    <li role="presentation" *ngIf="loginService.hasAnyRole('STUDENT')" routerLinkActive="active" ><a [routerLink]="['tests']">Tests</a></li>
    <li role="presentation" *ngIf="loginService.hasAnyRole('ADMIN', 'SALE')" routerLinkActive="active" ><a [routerLink]="['products']">Products</a></li>
    <li role="presentation" *ngIf="loginService.hasAnyRole('STUDENT')" routerLinkActive="active" ><a [routerLink]="['shopping']">Shop</a></li>
    <li role="presentation" *ngIf="!loginService.isAuthenticated()" routerLinkActive="active" ><a [routerLink]="['registration']">Register</a></li>
    <li role="presentation" routerLinkActive="active" ><a [routerLink]="['login']">Login</a></li>
    <li role="presentation" *ngIf="loginService.hasAnyRole('STUDENT', 'TEACHER', 'ADMIN')" routerLinkActive="active" ><a [routerLink]="['user-questions']">User Questions</a></li>
  </ul>
</div>
