<div *ngIf="direction" class="well well-sm form-horizontal">
  <label class="col-xs-12">
    {{direction}}
  </label>
  <div class="form-group"></div>
</div>

<div class="form-horizontal well well-sm">
  <div class="form-group text-center"><label>{{question.number}}</label></div>
  <div class="form-group">
    <span [mathJax]="question.text" class="col-xs-12"></span>
  </div>
  <div class="form-group">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let q of question.items; let i = index">BLANK {{i + 1}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let choices of question.matrix; let i = index;">
        <td *ngFor="let choice of choices; let j = index">
          <a (click)="question.items[j].selected = i; onAnswerChanged();" class="btn no-padding"><span *ngIf="mode == 'ANSWER'" [ngClass]="{'text-success': i == question.items[j].selected}"> {{choice.text}} </span></a>
          <span *ngIf="mode == 'ANSWERED'" [ngClass]="{'text-success': i == question.items[j].answer, 'text-danger': i == question.items[j].selected && question.items[j].selected != question.items[j].answer}">{{choice.text}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


