<div class="form-horizontal well well-sm">
  <div class="form-group">
    <span [mathJax]="question.text" class="col-xs-12"></span>
  </div>
  <div class="form-group">
    <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <textarea [disabled]="mode == 'ANSWERED'" name="answer" [(ngModel)]="question.answer" (change)="onAnswerChanged()" class="form-control" rows="15"></textarea>
      <!--<span [mathJax]="question.answer" *ngIf="mode == 'ANSWERED'"></span>-->
    </div>
  </div>
  <div class="form-group"></div>
</div>
