<div class="row test-border">
  <div class="test-border" style="padding: 2px; margin: 2px">
    <div *ngIf="question.parent.number != question.parent.lastNumber" style="background-color: blue; color: white; font-weight: bold; padding: 2px">
      Question {{question.parent.number}} to {{question.parent.lastNumber}} are based on this passage.
    </div>
    <div *ngIf="question.parent.number == question.parent.lastNumber" style="background-color: blue; color: white; font-weight: bold; padding: 2px">
      Question {{question.parent.number}} is based on this passage.
    </div>

    <div style="padding: 15px; padding-top: 30px">
      <span [mathJax]="question.parent.text"></span>
    </div>

    <img *ngIf="question.parent.image" [src]="serverUrl + '/files/' + question.parent.image" style="margin: 0 auto; display: block">
  </div>
  <div class="test-border" style="padding: 100px; margin: 2px;">

    <div style="margin: 10px 100px 50px 100px; text-align: center">
      <span [mathJax]="question.text"></span>
    </div>

    <div *ngIf="! question.fraction" class="text-center">{{question.prefix}} <input (change)="onAnswerChanged()" [(ngModel)]="question.nominator" style="width: 150px; text-align: right"> {{question.postfix}}</div>

    <div *ngIf="question.fraction" class="text-center">
      <table style="display: inline-table">
        <tr>
          <td style="padding: 10px" rowspan="2">{{question.prefix}}</td>
          <td style="padding: 10px; border-bottom: solid black 1px; margin: 10px"><input (change)="onAnswerChanged()" [(ngModel)]="question.nominator" style="width: 50px; text-align: right"></td>
          <td style="padding: 10px" rowspan="2">{{question.postfix}}</td>
        </tr>
        <tr>
          <td style="padding: 10px; margin: 10px"><input (change)="onAnswerChanged()" [(ngModel)]="question.denominator" style="width: 50px; text-align: right"></td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div *ngIf="false">
  <div class="form-horizontal well well-sm">
    <div class="form-group">
      <span [mathJax]="question.parent.text" class="col-xs-12"></span>
    </div>
    <div class="form-group">
      <img class="img-responsive img-rounded" *ngIf="question.parent.image" [src]="serverUrl + '/files/' + question.parent.image" style="margin: 0 auto;">
    </div>
    <div class="form-group text-center"><label>{{question.number}}</label></div>
    <div class="form-group">
      <span [mathJax]="question.text" class="col-xs-12"></span>
    </div>
    <div class="form-group">
      <img class="img-responsive img-rounded" *ngIf="question.image" [src]="serverUrl + '/files/' + question.image" style="margin: 0 auto;">
    </div>
    <div class="form-group">
      <label for="nominator" class="control-label col-sm-1">Answer: </label>
      <div class="col-sm-11 control-text">
        <div class="col-xs-2 col-sm-1 no-padding" *ngIf="mode == 'ANSWER'">
          <input name="nominator" (change)="onAnswerChanged()" [(ngModel)]="question.nominator" class="form-control">
        </div>
        <span *ngIf="mode == 'ANSWERED'" [ngClass]="{'text-success': question.nominator == question.nominatorAnswer, 'text-danger': question.nominator != question.nominatorAnswer}"> {{question.nominator}} </span>
        <span class="text-center" [ngClass]="{'col-xs-1': mode == 'ANSWER', 'big-slash': mode == 'ANSWER'}" *ngIf="question.fraction"> / </span>
        <div class="col-xs-2 col-sm-1 no-padding" *ngIf="mode == 'ANSWER' && question.fraction">
          <input name="denominator" (change)="onAnswerChanged()" [(ngModel)]="question.denominator" class="form-control">
        </div>
        <span *ngIf="mode == 'ANSWERED' && question.fraction" [ngClass]="{'text-success': question.denominator == question.denominatorAnswer, 'text-danger': question.denominator != question.denominatorAnswer}"> {{question.denominator}} </span>
      </div>
    </div>
  </div>
</div>


