<div class="row test-border" style="height: calc(100vh - 85px);">
  <div class="test-border" style="margin: 2px; height: calc(100vh - 93px); overflow: auto;" [ngClass]="{'hidden-tabs': mode == 'ANSWER'}">


    <tabset>
      <tab heading="Question" style="padding: 50px 100px 0 100px;">

        <img *ngIf="question.image" [src]="serverUrl + '/file-service/' + question.image" style="margin: 0 auto; display: block">

        <div style="margin: 10px 100px 50px 100px; text-align: center">
          <span [mathJax]="question.text"></span>
        </div>

        <table style="width: 100%; margin: 30px auto">
          <tr *ngFor="let choice of question.choices; let i = index">
            <td style="width: 50%; vertical-align: top; text-align: right"><div (click)="onSelect(i)" [ngClass]="{'selected': question.selected == i, 'disable': mode != 'ANSWER'}" class="radio-btn" style="display: inline-block"></div></td>
            <td style="padding-bottom: 20px"><span [mathJax]="choice.text" [ngClass]="{'text-success': mode != 'ANSWER' && choice.answer}">{{choice.text}}</span></td>
          </tr>
        </table>
      </tab>

      <tab heading="Document" *ngIf="question.document">
        <object width="100%" height="650" [data]="getDocument()" type='application/pdf'>
          <p>Sorry, the PDF couldn't be displayed :(</p>
          <a [href]="getDocument()" target="_blank">Click Here</a>
        </object>
      </tab>
      <tab heading="Video" *ngIf="question.video"></tab>
    </tabset>

  </div>
</div>
